*/*.kate-swp
Thesis/preview.pdf
Thesis/generatePreview.sh
Presentation/preview.pdf
Presentation/generatePreview.sh
Thesis.zip
packThesis.sh
unpackThesis.sh
ThesisNew/
Thesis/Thesis.aux
Thesis/Thesis.bbl
Thesis/Thesis.bcf
Thesis/Thesis.blg
Thesis/Thesis.log
Thesis/Thesis.out
Thesis/Thesis.run.xml
Thesis/Thesis.synctex.gz
Thesis/Thesis.toc
Presentation/Presentation.aux
Presentation/Presentation.bbl
Presentation/Presentation.bcf
Presentation/Presentation.blg
Presentation/Presentation.log
Presentation/Presentation.nav
Presentation/Presentation.out
Presentation/Presentation.run.xml
Presentation/Presentation.snm
Presentation/Presentation.synctex.gz
Presentation/Presentation.toc
